@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat.woff2') format('woff2');
}

body {
    background: #ffffff;
}

.container-full {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Montserrat';
}

header {
    position: fixed;
    z-index: 100;
    background: #ffffff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 46.5px;
    padding-bottom: 46.5px;
}

.header .logo img {
    width: 200px;
    height: 27px;
}

.header .menu {
    display: flex;
}

.header .menu .menu-item {
    margin-right: 40px;
}

.header .menu .menu-item:last-child {
    margin-right: 0;
}

.header .menu .menu-item {
    position: relative;
}

.header .menu .menu-item .menu-sub-items {
    display: none;
    position: absolute;
    z-index: 22;
    top: 18px;
    left: 0;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 3px 10px 1px rgba(84, 84, 97, 0.2);
    padding: 15px;
    width: fit-content;
}
.header .menu .menu-item .menu-sub-items .menu-sub-item {
    margin-top: 6px;
}

.header .menu .menu-item .menu-sub-items .menu-sub-item:first-child {
    margin-top: 0;
}

.header .menu .menu-item .menu-main-item {
    display: flex;
    align-items: flex-end;
}

.header .menu .menu-item .menu-main-item .image {
    background-repeat: no-repeat;
    margin-left: 3px;
    width: 10px;
    height: 16px;
    background-image: url("../../public/images/menu_icon_hide.svg");
}

.header .menu .menu-item:hover .image {
    background-image: url("../../public/images/menu_icon_open.svg");
}

.header .menu .menu-item, .header .menu .menu-item .menu-sub-items .menu-sub-item a {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #6C7684;
}

.header .menu .menu-item:hover .menu-sub-items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 170px;
}

.header .menu .menu-item:hover .menu-main-item,
.header .menu .menu-item:hover  .menu-sub-items .menu-sub-item a:hover{
    color: #2284FF;
    cursor: pointer;
}

.after-header {
    height: 120px;
}

.about {
    margin-top: 60px;
}

.preview-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    color: #9DA3AB;
    text-transform: uppercase;
}

.about .about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about .about-content .about-content-title {
    font-weight: 600;
    font-size: 38px;
    line-height: 45.6px;
    color: #323232;
    width: 392px;
}

.about .about-content .about-content-info {
    width: 695px;
    font-weight: 400;
    font-size: 14px;
    line-height: 25.2px;
    color: #6C7684;
}

.about-links {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-links .about-link {
    margin-right: 20px;
}

.about-links .about-link:last-child {
    margin-right: 0;
}

.our-objects {
    margin-top: 60px;
}

.our-objects .our-objects-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.our-objects .our-objects-content  .our-objects-content-title-block {
    width: 392px;
}

.our-objects .our-objects-content  .our-objects-content-info-block {
    width: 695px;
}

.our-objects .our-objects-content .our-objects-content-title-block .our-objects-content-title {
    font-weight: 600;
    font-size: 38px;
    line-height: 45.6px;
    color: #323232;
}

.our-objects .our-objects-content .our-objects-content-title-block .our-objects-content-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #323232;
}

.our-objects .our-objects-content .our-objects-content-info-block {
    font-weight: 400;
    font-size: 14px;
    line-height: 25.2px;
    color: #6C7684;
}

.our-objects .our-objects-slider {
    margin-top: 20px;
    position: relative;
    width: 100%;
    max-height: 550px;
}

.disabled {
    opacity: 0.6;
}

.our-objects .our-objects-slider .owl-nav {
    position: absolute;
    right: 70px;
    bottom: 60px;
}

.our-objects .our-objects-slider .our-objects-slider-am-prev,
.our-objects .our-objects-slider .our-objects-slider-am-next {
    width: 58px;
    height: 58px;
}

.our-objects .our-objects-slider .our-objects-slider-info {
    position: absolute;
    z-index: 3;
    top: 120px;
    left: 80px;
}

.our-objects .our-objects-slider .our-objects-slider-info .our-objects-slider-info-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    color: #ffffff;
    text-transform: uppercase;
}

.our-objects .our-objects-slider .our-objects-slider-info .our-objects-slider-info-title {
    margin-top: 15px;
    font-weight: 600;
    font-size: 38px;
    line-height: 45.6px;
    color: #ffffff;
}

.our-objects .our-objects-slider .our-objects-slider-info .our-objects-slider-info-content {
    margin-top: 15px;
    width: 413px;
    font-weight: 500;
    font-size: 14px;
    line-height: 25.2px;
    color: #ffffff;
}

.our-objects .our-objects-slider .our-objects-slider-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 60.79%);
    z-index: 2;
}

.our-objects .our-objects-slider img {
    height: 550px;
}


.dealers {
    margin-top: 60px;
}


.dealers .dealers-content  .dealers-content-info-block {
    width: 695px;
}

.dealers .dealers-content .dealers-content-title-block {
    width: 392px;
}

.dealers .dealers-content .dealers-content-title-block .dealers-content-title {
    font-weight: 600;
    font-size: 38px;
    line-height: 45.6px;
    color: #323232;
}

.dealers .dealers-content .dealers-content-title-block .dealers-content-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #323232;
}

.dealers .dealers-content  .dealers-content-info-block {
    font-weight: 400;
    font-size: 14px;
    line-height: 25.2px;
    color: #6C7684;
}

.dealers .dealers-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.dealers .dealers-map {
    margin-top: 60px;
}

.dealers .dealers-map img{
    margin: 0 auto;
}


.assortment {
    margin-top: 60px;
}

.assortment .assortment-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.assortment .assortment-content  .assortment-content-title-block {
    width: 392px;
}

.assortment .assortment-content  .assortment-content-info-block {
    width: 695px;
}

.assortment .assortment-content .assortment-content-title-block .assortment-content-title {
    font-weight: 600;
    font-size: 38px;
    line-height: 45.6px;
    color: #323232;
}

.assortment .assortment-content .assortment-content-title-block .assortment-content-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #323232;
}

.assortment .assortment-content .assortment-content-info-block {
    font-weight: 400;
    font-size: 14px;
    line-height: 25.2px;
    color: #6C7684;
}

.assortment .assortment-slider {
    margin-top: 20px;
    position: relative;
    width: 100%;
}

.assortment .assortment-slider img {
    height: 550px;
}

.disabled {
    opacity: 0.6;
}

.assortment .assortment-slider .owl-nav {
    position: absolute;
    right: 70px;
    bottom: 60px;
}

.assortment .assortment-slider .assortment-slider-am-prev,
.assortment .assortment-slider .assortment-slider-am-next {
    width: 58px;
    height: 58px;
}

.assortment .assortment-slider .assortment-slider-info {
    position: absolute;
    z-index: 3;
    top: 120px;
    left: 80px;
}

.assortment .assortment-slider .assortment-slider-info .assortment-slider-info-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    color: #ffffff;
    text-transform: uppercase;
}

.assortment .assortment-slider .assortment-slider-info .assortment-slider-info-title {
    margin-top: 15px;
    font-weight: 600;
    font-size: 38px;
    line-height: 45.6px;
    color: #ffffff;
}

.assortment .assortment-slider .assortment-slider-info .assortment-slider-info-content {
    margin-top: 15px;
    width: 413px;
    font-weight: 500;
    font-size: 14px;
    line-height: 25.2px;
    color: #ffffff;
}

.assortment .assortment-slider .assortment-slider-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 60.79%);
    z-index: 2;
}


.support {
    margin-top: 60px;
}


.support .support-content  .support-content-info-block {
    width: 695px;
}

.support .support-content .support-content-title-block {
    width: 392px;
}

.support .support-content .support-content-title-block .support-content-title {
    font-weight: 600;
    font-size: 38px;
    line-height: 45.6px;
    color: #323232;
}

.support .support-content .support-content-title-block .support-content-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #323232;
}

.support .support-content  .support-content-info-block {
    font-weight: 400;
    font-size: 14px;
    line-height: 25.2px;
    color: #6C7684;
}

.support .support-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.support .support-image {
    margin-top: 60px;
}

.support .support-image img{
    margin: 0 auto;
}

.partners {
    margin-top: 60px;
}


.partners .partners-content  .partners-content-info-block {
    width: 695px;
}

.partners .partners-content .partners-content-title-block {
    width: 392px;
}

.partners .partners-content .partners-content-title-block .partners-content-title {
    font-weight: 600;
    font-size: 38px;
    line-height: 45.6px;
    color: #323232;
}

.partners .partners-content .partners-content-title-block .partners-content-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #323232;
}

.partners .partners-content  .partners-content-info-block {
    font-weight: 400;
    font-size: 14px;
    line-height: 25.2px;
    color: #6C7684;
}

.partners .partners-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.partners .partners-image {
    margin-top: 60px;
    position: relative;
}

.partners .partners-image .partners-image-content {
    height: 450px;
}

.partners .partners-image img{
    margin: 0 auto;
}

.partners .partners-image-info {
    position: absolute;
    z-index: 2;
    top: 64px;
    left: 56px;
    width: 584px;
}

.partners .partners-image-info .partners-image-info-title {
    font-weight: 600;
    font-size: 38px;
    line-height: 45.6px;
    color: #ffffff;
}

.partners .partners-image-info .partners-image-info-content {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28.8px;
    color: #ffffff;
}

.partners .partners-image-info .partners-image-info-button {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25.6px;
    color: #ffffff;
    width: fit-content;
    color: #ffffff;
    background: linear-gradient(88.23deg, #64ABFF 1.5%, #D0D1FF 98.5%);
    border-radius: 5px;
}

.partners .partners-image-info .partners-image-info-button button {
    padding: 11px 20px 13px 20px;
}

footer {
    margin-top: 60px;
    border-top: 1px solid rgba(146, 159, 172, 0.2);
}

.footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer .first-part {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer .info .phone {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.footer .info .phone .phone-image {
    margin-right: 5px;
}

.footer .info .phone .phone-link a {
    font-weight: 500;
    font-size: 20px;
    color: #323232;
    line-height: 24px;
}

.footer .info .mail {
    margin-top: 20px;
    display: flex;
    align-items: center;
}


.footer .info .mail .mail-link a {
    font-weight: 400;
    font-size: 16px;
    color: #323232;
    line-height: 19.2px;
}

.footer .info .mail .mail-image {
    margin-right: 5px;
}

.footer .logo img {
    width: 200px;
    height: 27px;
}

.footer .menu {
    display: flex;
}

.footer .menu .menu-item {
    margin-right: 40px;
}

.footer .menu .menu-item:last-child {
    margin-right: 0;
}

.footer .menu .menu-item {
    position: relative;
}

.footer .menu .menu-item .menu-sub-items {
    display: none;
    position: absolute;
    z-index: 22;
    top: 18px;
    left: 0;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 3px 10px 1px rgba(84, 84, 97, 0.2);
    padding: 15px;
    width: fit-content;
}
.footer .menu .menu-item .menu-sub-items .menu-sub-item {
    margin-top: 6px;
}

.footer .menu .menu-item .menu-sub-items .menu-sub-item:first-child {
    margin-top: 0;
}

.footer .menu .menu-item .menu-main-item {
    display: flex;
    align-items: flex-end;
}

.footer .menu .menu-item .menu-main-item .image {
    background-repeat: no-repeat;
    margin-left: 3px;
    width: 10px;
    height: 16px;
    background-image: url("../../public/images/menu_icon_hide.svg");
}

.footer .menu .menu-item:hover .image {
    background-image: url("../../public/images/menu_icon_open.svg");
}

.footer .menu .menu-item, .footer .menu .menu-item .menu-sub-items .menu-sub-item a {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #6C7684;
}

.footer .menu .menu-item:hover .menu-sub-items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 170px;
}

.footer .menu .menu-item:hover .menu-main-item,
.footer .menu .menu-item:hover  .menu-sub-items .menu-sub-item a:hover{
    color: #2284FF;
    cursor: pointer;
}

.footer .second-part {
    margin-top: 40px;
}

.footer .second-part a, .footer .second-part span{
    margin-top: 40px;
    color: #6C768480;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;

}

.footer .second-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .second-part .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer .second-part .left .block {
    margin-right: 5px;
}

.footer .second-part .left .block:last-child {
    margin-right: 0;
}

.footer .second-part .right img {
    display: inline;
}

.daikin-slider .daikin-slider-content {
    position: relative;
}

.daikin-slider .daikin-slider-content .owl-dots {
    position: absolute;
    z-index: 2;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.daikin-slider {
    height: 240px;
}

.daikin-slider .daikin-slider-content .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #E1E1E5;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.daikin-slider .daikin-slider-content .owl-dots .owl-dot.active span, .daikin-slider .daikin-slider-content .owl-dots .owl-dot:hover span {
    background: #1B96FF;
}

.breadcrumbs {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.breadcrumbs .breadcrumb-link {
    margin-right: 15px;
}

.breadcrumbs .breadcrumb-link a {
    color: #6C7684;
    font-weight: 600;
    font-size: 12px;
    line-height: 21.6px;
}


.breadcrumbs .breadcrumb-arrow {
    margin-right: 15px;
}

.breadcrumbs .breadcrumb-current span {
    color: #6C7684;
    font-weight: 600;
    font-size: 12px;
    line-height: 21.6px;
    opacity: 0.4;
}

.daikin-content {
    margin-top: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.daikin-content .navigation {
    width: 290px;
    border-bottom: 1px solid #6C768433;
}

.daikin-content .navigation .title {
    margin-bottom: 20px;
    color: #323232;
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
}

.daikin-content .navigation .link {
    margin-bottom: 15px;
}

.daikin-content .navigation .link a {
    color: #323232;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.6px;
    opacity: 0.6;
}


.daikin-content .products {
    width: 870px;
}

.daikin-content .products .product .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.daikin-content .products .product .info .info-image {
    width: 350px;
    height: 132px;
}

.daikin-content .products .product .info .info-content {
    width: 480px;
}

.daikin-content .products .product .info .info-content .title {
    color: #323232;
    font-weight: 600;
    font-size: 24px;
    line-height: 31.2px;
}

.daikin-content .products .product .info .info-content .text {
    margin-top: 15px;
    color: #6C7684;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    opacity: 0.6;
}

.daikin-content .products .product .items {
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #6C768433;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.daikin-content .products .product .items .item {
    width: 418px;
    margin-top: 15px;
}

.daikin-content .products .product .items .item .first-part {
    position: relative;
}


.daikin-content .products .product .items .item .first-part {

}

.daikin-content .products .product .items .item .first-part .image img {
    width: 418px;
    height: 300px;
    border: 1px solid #6C768433;
    border-radius: 10px;
}

.daikin-content .products .product .items .item .first-part .options {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    left: 12px;
    right: 0;
    bottom: 0;
}

.daikin-content .products .product .items .item .first-part .options .option {
    border-radius: 4px;
    border: 1px solid #6C76841A;
    padding: 4px 8px 4px 8px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.daikin-content .products .product .items .item .first-part .options .option {
    display: flex;
    align-items: center;
}

.daikin-content .products .product .items .item .first-part .options .option .option-image {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.daikin-content .products .product .items .item .first-part .options .option .option-text {
    color: #6C7684;
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
}

.daikin-content .products .product .items .item .second-part {
    margin-top: 15px;
}

.daikin-content .products .product .items .item .second-part .title {
    margin-bottom: 5px;
    color: #323232;
    font-weight: 600;
    font-size: 16px;
    line-height: 20.8px;
}

.daikin-content .products .product .items .item .second-part .text {
    margin-bottom: 15px;
    color: #323232;
    opacity: 0.6;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.6px;
}

.pop-up {
    position: fixed;
    z-index: 99997;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop-up .section-title h2 {
    font-size: 28px;
    line-height: 34px;
    color: #252330;
    font-weight: 500;
    margin-bottom: 24px;
}
.pop-up-inner-bg {
    z-index: 99998;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000099;
}
.pop-up-inner {
    z-index: 99999;
    background: #fff;
    width: fit-content;
    height: fit-content;
    padding: 30px;
}
.pop-up-hide {
    display: none;
}
